# Importing our file hawaii_stations.csv

In [85]:
from os import getcwd
from os.path import join
import pandas as pd

data = pd.read_csv(join(getcwd(), 'hawaii_stations.csv'))

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

# How many records we've got and what our data looks like

In [86]:
print(f'There are {len(data)} records in the data set.')

data.head()

There are 9 records in the data set.

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [87]:
print(f'There are {len(data)} records in the data set.')

data.head()

There are 9 records in the data set.

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

# Reading the file hawaii_measurements.csv

In [88]:
filename = 'hawaii_measurements.csv'

measurements = pd.read_csv(join(getcwd(), filename), encoding = 'ISO-8859-1')
print(f'There are records for {len(measurements)} Hawaii measurements in {filename}.')

measurements.head()

There are records for 19550 Hawaii measurements in hawaii_measurements.csv.

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

# Removing NaNs for the dataframe

In [89]:
# All DataFrames have a dropna method, which drops 'any' row containing NaN.
df = measurements.dropna(how='any')

# Display updated DataFrame
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

# Checking for lost of data as result of removing NaNs

In [91]:
# Specifically...
before = len(measurements)
after = len(df)
diff = before - after
percent_lost = str(diff / before * 100).zfill(2)

print(f'Dropping NaNs threw out {diff} records, or . There are {after} left. The percentage of lost of the data set {percent_lost}%.')

Dropping NaNs threw out 1447 records, or . There are 18103 left. The percentage of lost of the data set 7.40153452685422%.

# Merging the two dataframes

In [92]:
clean_data = pd.merge(df, data,how="inner",on="station")
clean_data.head(5)

,station,date,prcp,tobs,name,latitude,longitude,elevation
0,USC00519397,2010-01-01,0.08,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00519397,2010-01-02,0.00,63,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00519397,2010-01-03,0.00,74,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,USC00519397,2010-01-04,0.00,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,USC00519397,2010-01-07,0.06,70,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0

# Importing to new CSV file named measurements_cleaned.csv

In [103]:
df = pd.read_csv(clean_data, dtype=object)

In [104]:
new_csv = "measurements_cleaned.csv"
df.to_csv(new_csv, index=False)
df

,station,date,prcp,tobs,name,latitude,longitude,elevation
0,USC00519397,2010-01-01,0.08,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00519397,2010-01-02,0.0,63,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00519397,2010-01-03,0.0,74,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,USC00519397,2010-01-04,0.0,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,USC00519397,2010-01-07,0.06,70,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
5,USC00519397,2010-01-08,0.0,64,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
6,USC00519397,2010-01-09,0.0,68,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
7,USC00519397,2010-01-10,0.0,73,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
8,USC00519397,2010-01-11,0.01,64,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
9,USC00519397,2010-01-12,0.0,61,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
10,USC00519397,2010-01-14,0.0,66,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
11,USC00519397,2010-01-15,0.0,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
12,USC00519397,2010-01-16,0.0,68,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
13,USC00519397,2010-01-17,0.0,64,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
14,USC00519397,2010-01-18,0.0,72,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
15,USC00519397,2010-01-19,0.0,66,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
16,USC00519397,2010-01-20,0.0,66,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
17,USC00519397,2010-01-21,0.0,69,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
18,USC00519397,2010-01-22,0.0,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
19,USC00519397,2010-01-23,0.0,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
20,USC00519397,2010-01-24,0.01,71,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
21,USC00519397,2010-01-25,0.0,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
22,USC00519397,2010-01-26,0.04,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
23,USC00519397,2010-01-27,0.12,68,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
24,USC00519397,2010-01-28,0.0,72,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
25,USC00519397,2010-01-31,0.03,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
26,USC00519397,2010-02-01,0.01,66,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
27,USC00519397,2010-02-04,0.01,69,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
28,USC00519397,2010-02-05,0.0,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
29,USC00519397,2010-02-06,0.0,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
...,...,...,...,...,...,...,...,...
18073,USC00516128,2017-07-17,0.39,72,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18074,USC00516128,2017-07-18,2.4,77,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18075,USC00516128,2017-07-19,0.27,74,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18076,USC00516128,2017-07-20,0.7,75,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18077,USC00516128,2017-07-21,0.1,72,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18078,USC00516128,2017-07-22,4.0,72,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18079,USC00516128,2017-07-23,0.8,78,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18080,USC00516128,2017-07-24,0.84,77,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18081,USC00516128,2017-07-25,0.3,79,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18082,USC00516128,2017-07-26,0.3,73,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18083,USC00516128,2017-07-27,0.0,75,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18084,USC00516128,2017-07-28,0.4,73,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18085,USC00516128,2017-07-29,0.3,77,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18086,USC00516128,2017-07-30,0.3,79,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18087,USC00516128,2017-07-31,0.0,74,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18088,USC00516128,2017-08-02,0.25,80,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18089,USC00516128,2017-08-03,0.06,76,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18090,USC00516128,2017-08-07,0.05,78,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18091,USC00516128,2017-08-08,0.34,74,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18092,USC00516128,2017-08-09,0.15,71,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18093,USC00516128,2017-08-10,0.07,75,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18094,USC00516128,2017-08-12,0.14,74,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18095,USC00516128,2017-08-14,0.22,79,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18096,USC00516128,2017-08-15,0.42,70,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18097,USC00516128,2017-08-16,0.42,71,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18098,USC00516128,2017-08-17,0.13,72,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18099,USC00516128,2017-08-19,0.09,71,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18100,USC00516128,2017-08-21,0.56,76,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18101,USC00516128,2017-08-22,0.5,76,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18102,USC00516128,2017-08-23,0.45,76,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4

In [105]:
df.describe()

,station,date,prcp,tobs,name,latitude,longitude,elevation
count,18103,18103,18103,18103,18103,18103,18103,18103
unique,9,2792,342,35,9,9,9,9
top,USC00519281,2014-02-26,0.0,74,"WAIHEE 837.5, HI US",21.45167,-157.84888999999998,32.9
freq,2772,9,8185,1627,2772,2772,2772,2772

In [126]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
from sqlalchemy.orm import sessionmaker, relationship

# Create an engine to a SQLite database file called `measurements.sqlite`

In [131]:
engine = create_engine("sqlite:///measurement.sqlite")

In [132]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [133]:
# Use `declarative_base` from SQLAlchemy to connect your class to your sqlite database
Base = declarative_base()

In [134]:
# Make sure to specify types for each column, e.g. Integer, Text, etc.
# http://docs.sqlalchemy.org/en/latest/core/type_basics.html

class Measurement(Base):
    __tablename__ = 'measurement'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.station}"

In [135]:
class Station(Base):
    
    __tablename__ = 'station'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [136]:
Base.metadata.create_all(engine)

In [137]:
engine.table_names()

['measurement', 'station']

In [147]:
measurement_data = df.to_dict(orient='records')

In [148]:
conn.execute(Measurement.__table__.delete())

In [149]:
conn.execute(Measurement.__table__.insert(), measurement_data)

In [150]:
conn.execute(Station.__table__.delete())

In [151]:
conn.execute(Station.__table__.insert(), measurement_data)

In [120]:
new_df = pd.read_csv(new_csv)
new_df

,station,date,prcp,tobs,name,latitude,longitude,elevation
0,USC00519397,2010-01-01,0.08,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00519397,2010-01-02,0.00,63,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00519397,2010-01-03,0.00,74,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,USC00519397,2010-01-04,0.00,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,USC00519397,2010-01-07,0.06,70,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
5,USC00519397,2010-01-08,0.00,64,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
6,USC00519397,2010-01-09,0.00,68,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
7,USC00519397,2010-01-10,0.00,73,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
8,USC00519397,2010-01-11,0.01,64,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
9,USC00519397,2010-01-12,0.00,61,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
10,USC00519397,2010-01-14,0.00,66,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
11,USC00519397,2010-01-15,0.00,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
12,USC00519397,2010-01-16,0.00,68,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
13,USC00519397,2010-01-17,0.00,64,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
14,USC00519397,2010-01-18,0.00,72,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
15,USC00519397,2010-01-19,0.00,66,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
16,USC00519397,2010-01-20,0.00,66,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
17,USC00519397,2010-01-21,0.00,69,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
18,USC00519397,2010-01-22,0.00,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
19,USC00519397,2010-01-23,0.00,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
20,USC00519397,2010-01-24,0.01,71,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
21,USC00519397,2010-01-25,0.00,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
22,USC00519397,2010-01-26,0.04,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
23,USC00519397,2010-01-27,0.12,68,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
24,USC00519397,2010-01-28,0.00,72,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
25,USC00519397,2010-01-31,0.03,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
26,USC00519397,2010-02-01,0.01,66,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
27,USC00519397,2010-02-04,0.01,69,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
28,USC00519397,2010-02-05,0.00,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
29,USC00519397,2010-02-06,0.00,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
...,...,...,...,...,...,...,...,...
18073,USC00516128,2017-07-17,0.39,72,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18074,USC00516128,2017-07-18,2.40,77,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18075,USC00516128,2017-07-19,0.27,74,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18076,USC00516128,2017-07-20,0.70,75,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18077,USC00516128,2017-07-21,0.10,72,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18078,USC00516128,2017-07-22,4.00,72,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18079,USC00516128,2017-07-23,0.80,78,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18080,USC00516128,2017-07-24,0.84,77,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18081,USC00516128,2017-07-25,0.30,79,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18082,USC00516128,2017-07-26,0.30,73,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18083,USC00516128,2017-07-27,0.00,75,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18084,USC00516128,2017-07-28,0.40,73,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18085,USC00516128,2017-07-29,0.30,77,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18086,USC00516128,2017-07-30,0.30,79,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18087,USC00516128,2017-07-31,0.00,74,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18088,USC00516128,2017-08-02,0.25,80,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18089,USC00516128,2017-08-03,0.06,76,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18090,USC00516128,2017-08-07,0.05,78,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18091,USC00516128,2017-08-08,0.34,74,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18092,USC00516128,2017-08-09,0.15,71,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18093,USC00516128,2017-08-10,0.07,75,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18094,USC00516128,2017-08-12,0.14,74,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18095,USC00516128,2017-08-14,0.22,79,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18096,USC00516128,2017-08-15,0.42,70,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18097,USC00516128,2017-08-16,0.42,71,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18098,USC00516128,2017-08-17,0.13,72,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18099,USC00516128,2017-08-19,0.09,71,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18100,USC00516128,2017-08-21,0.56,76,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18101,USC00516128,2017-08-22,0.50,76,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4
18102,USC00516128,2017-08-23,0.45,76,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4

In [111]:
data = new_df.to_dict(orient='records')

In [112]:
print(data)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [80]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [124]:
conn.execute("select * from measurements limit 9").fetchall()

[]